.filter{
    margin-top: 20px;
}

.option{
    color: black;
}

.filter-box{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 8px;
    border-radius: 8px;
}

.filter-container{
    height: 40px;
}