.filter{
    margin-top: 20px;
    line-height: 0px;
}

.option{
    color: black;
    padding-right: 8px;
}

.filter-box{
    border: solid 1px rgb(199, 199, 199);
    padding: 4px;
    border-radius: 4px;
}

.filter-title{
    color: #d39b2c;
    font-size: 13px;
}