*{
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.recipe_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 6px;
    margin-left: 400px;
    margin-right: 400px;
}

.recipe_text{
    padding-right: 60px;
    line-height: 24px;
}

.recipe_title{
    line-height: 18px;
}

.recipe_section{
    color: #a87000;
}


.recipe_p{
    width: 700px;
    font-size: 18px;
    color: rgb(145, 145, 145);
    height: 400px;
    overflow: hidden;
}

.recipe_img{
    padding-left: 0px;
    width: 500px;
    height: 500px;
    border-radius: 16px;
}

.btn {
    margin-top: 16px;
    font-size: 16px;
    width: 100px;
    border: none;
    background-color: initial;
    background-image: linear-gradient(-180deg, #e3ac3d, #a87000);
    border-radius: 6px;
    box-shadow: #fff2d9 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    font-weight: 500;
}

.btn:hover {
    box-shadow: #ffe4b1 0 3px 8px;
}
