*{
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.recipe_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 6px;
    margin-left: 200px;
    margin-right: 100px;
}

@media (max-width: 1200px){
    .recipe_container{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.recipe_text{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    line-height: 24px;
}

@media (max-width: 1200px){
    .recipe_text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.recipe_title{
    line-height: 16px;
}

.recipe_section{
    color: #a87000;
}


.recipe_p{
    width: 600px;
    font-size: 16px;
    color: rgb(145, 145, 145);
    height: 210px;
    overflow: hidden;
}

.recipe_img{
    width: 400px;
    height: 400px;
    border-radius: 8px;
}

@media (max-width: 1400px){
    .recipe_img{
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 800px){
    .recipe_img{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 600px){
    .recipe_img{
        width: 250px;
        height: 250px;
    }
}

.btn {
    margin-top: 16px;
    font-size: 16px;
    width: 100px;
    border: none;
    background-color: initial;
    background-image: linear-gradient(-180deg, #e3ac3d, #a87000);
    border-radius: 6px;
    box-shadow: #fff2d9 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    font-weight: 500;
}

.btn:hover {
    box-shadow: #ffe4b1 0 3px 8px;
}