.popup {
    background-color: #fff2d9;
    display: block;
    position: relative;
    z-index: 1;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #c2c5cc;
    max-width: 50%;
    max-height: 300px;
    overflow: clip;
    text-overflow: ellipsis;
    transition: all 0.2s ease-in-out;
}

.closeBtn {
    background-color:#fff2d9;
    border-width: 0px;
    border-radius: 20px;
    color: #d39b2c;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    align-self: flex-end;

}

.closeBtn:hover {
    background-color: #a87000;
}
