.popup {
    background-color: #fff2d9;
    display: block;
    position: relative;
    z-index: 1;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    width: 300px;
    height: 400px;
    transition: all 0.2s ease-in-out;
    font-family: 'Inter', sans-serif;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    width: 50px;
}

.closeBtn {
    background-color:#fff2d9;
    border-width: 0px;
    border-radius: 20px;
    color: #d39b2c;
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin: 5px;
    text-align: center;
    align-self: flex-end;

}

.closeBtn:hover {
    background-color: #a87000;
}

