.cardmeal{
    width: 250px;
    height: 330px;
    box-shadow: none;
    margin-left: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    margin-top: 20px;
}

.title-meal{
    overflow: hidden;
    color: black;
}

.paragraph{
    font-size: 12px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgb(145, 145, 145);
    font-weight: 400;
    line-height: 20px;
}

.content-text{
    padding-left: 16px;
    padding-right: 16px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
}

.cardmeal:hover{
    transform: scale(1.1);
}

.read-more {
    font-size: 20px;
}

a:-webkit-any-link{
    text-decoration: none;
}