.meals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.meals-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.meals1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.meals-container1 {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.footer-meals{
    width: 100vw;
}

#btn-right{
    margin-left: 16px;
}

.button-scroll{
    border: none;
    width: 40px;
    height: 40px;
}

.button-scroll:hover{
    border-radius: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filters{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    font-size: 16px;
    width: 100px;
    border: none;
    background-color: initial;
    background-image: linear-gradient(-180deg, #e3ac3d, #a87000);
    border-radius: 6px;
    box-shadow: #fff2d9 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    font-weight: 500;
}

.btn:hover {
    box-shadow: #ffe4b1 0 3px 8px;
}