

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  font-size: 16px;
  width: 100px;
  border: none;
  background-color: initial;
  background-image: linear-gradient(-180deg, #e3ac3d, #a87000);
  border-radius: 6px;
  box-shadow: #fff2d9 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  z-index: 1;
  border: 0;
  transition: box-shadow .2s;
  font-weight: 500;
}

.btn:hover {
  box-shadow: #ffe4b1 0 3px 8px;
}